@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<gaganvirAssignment3.Models.Product>

<h2>Product Cart</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Support 5G</th>
            <th>Created at</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category</td>
                <td>@product.Price.ToString("C")</td>
                <td>@(product.Supports5G ? "Yes" : "No")</td>
                <td>@product.CreatedAt.ToShortDateString()</td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-id="@product.ProductId" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h3>Total Price: @Model.Sum(p => p.Price).ToString("C")</h3>
    <h3>Tax : @((Model.Sum(p => p.Price)*0.13m).ToString("C"))</h3>
    <h3>Final Amount: @((Model.Sum(p => p.Price) + Model.Sum(p => p.Price)* 0.13m).ToString("C"))</h3>
</div>

<div>
    <a asp-controller="Customer" asp-action="Checkout" class="btn btn-success">Proceed to Checkout</a>
</div>

<div>
    <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary">Back to Products</a>
</div>